.container {
    max-width: 1490px;
    height: 700px;
    justify-content: center;
    padding-top: 45px;

    display: flex;

    align-items: center;
  }

  .container img {
    max-width: 700px;
    height: 350px;
    border-radius: 12px;
  }
  .box {
    width: 390px;
    height: 580px;
    padding-top: 22px;
    background-color: aliceblue;
    border-radius: 20px;
    
  }
  h3 {
    font-size: 26px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  p {
    font-size: 18px;
    color: #6b9080;
    text-align: center;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }